<div class="container">
    <div class="row">
        <div class="col-md-12" id="search_result">
             <%= render(partial: 'show') %>
        </div>
    </div>
</div>
         


                    
                    

                
