<div class="container">
    <div class="row">
        <div class="col-md-12">
        <% @jobs.each do |job| %>
            <div class="card m-1 p-2 pb-0 mb-0">
                 <strong><%= job.fetch(:title) %></strong>
            </div>
           <% end %>
        </div>
    </div>
</div>
              

                
